<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">


   <!-- 配置spring监听器-->
   <context-param>
      <param-name>contextConfigLocation</param-name>
     <!-- <param-value>classpath:applicationContext.xml</param-value>-->
     <!--  使用匹配规则，导入使用多个配置文件-->
       <param-value>classpath*:applicationContext*.xml</param-value>
   </context-param>
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>


 <!--  配置springmvc前端控制器-->
    <servlet>
       <servlet-name>DispatcherServlet</servlet-name>
       <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
           <param-name>contextConfigLocation</param-name>
           <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
       <!-- 0,正数为启动即加载,负数为用到才加载-->
        <load-on-startup>1</load-on-startup>
    </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherServlet</servlet-name>
      <!--默认全部走前端控制器-->
      <url-pattern>/</url-pattern>
   </servlet-mapping>


    <!--springmvc乱码过滤器-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>